<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1><i>Sasta Whatsapp</i></h1>
    
    <form action="/chat/new" method="get">
        <button class="New">New Chats</button>
    </form>

   <% for (let chat of chats){ %>
    <hr>
    <div class="chat">
        <p>From: <i><%=chat.from%></i></p>

        <div class="msg">
            <p><%=chat.msg%></p>
            <form action="/chats/<%= chat._id%>/edit" method="get">
                 <button class="Edit">Edit</button>
            </form>
           
        </div>
        
        <p>Recieved by :<i> <%=chat.to%></i></p>
        <p><%=chat.created_at.toString().split(" ")[4]   %></p>
        <p><%=chat.created_at.toString().split(" ").slice(0,4).join("-")   %></p>

         <form action="/chats/<%= chat._id%>?_method=DELETE" method="post">
                 <button class="Delete">Delete</button>
            </form>
    </div>
    <hr>
   <% } %>
</body>
</html>




